header {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  color: #000000;
  padding: 25px;
}
.logo {
  display: inline-block;
  width: 95px;
  height: auto;
  background: url('../../assets/img/fallout.png') top center no-repeat;
  background-size: contain;
  text-indent: -999999px;
}
.menu {
  height: 25px;
  position: relative;
  padding-left: 1.25em;
  font-size: 25px;
}
.menu:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.355em double #000;
  border-bottom: 0.125em solid #000;
}
